<?xml version="1.0"?>
<config>
    <modules>
        <Chaordic_Base>
            <version>1.0.0</version>
            <platform>ce</platform>
        </Chaordic_Base>
    </modules>

    <global>
        <blocks>
            <chaordic_base>
                <class>Chaordic_Base_Block</class>
            </chaordic_base>
        </blocks>
        <models>
            <chaordic_base>
                <class>Chaordic_Base_Model</class>
                <resourceModel>chaordic_base_mysql4</resourceModel>
            </chaordic_base>
            <chaordic_base_mysql4>
                <class>Chaordic_Base_Model_Mysql4</class>
            </chaordic_base_mysql4>
        </models>
        <helpers>
            <chaordic_base>
                <class>Chaordic_Base_Helper</class>
            </chaordic_base>
        </helpers>
    </global>

    <frontend>
        <layout>
            <updates>
                <chaordic_base module="Chaordic_Base">
                    <file>chaordic_base.xml</file>
                </chaordic_base>
            </updates>
        </layout>
        <routers>
            <chaordic_base>
                <use>standard</use>
                <args>
                    <module>Chaordic_Base</module>
                    <frontName>chaordic</frontName>
                </args>
            </chaordic_base>
        </routers>
    </frontend>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <chaordic_base>
                                            <title>Chaordic Systems</title>
                                        </chaordic_base>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <chaordic_base>
            <options>
                <api_key>magento</api_key>
                <installment_count>6</installment_count>
                <installment_price>20</installment_price>
            </options>
        </chaordic_base>
    </default>
</config>